<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">My Timeline</h2>
                    <h3 class="section-subheading text-muted">from tinkerer to bona fide roboticist.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/11.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>February 2011</h4>
                                    <h4 class="subheading">STEM-Themed YouTuber</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">As a schoolboy infatuated with vending machines, I began showcasing my homemade LEGO machines under the YouTube name AstonishingStudios.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>October 2015</h4>
                                    <h4 class="subheading">Media Attention Arises</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">After FOX News first praised AstonishingStudios' LEGO McFlurry Maker, companies like Business Insider and TIME chimed in to spotlight the endeavor, followed by sponsorships from Taco Bell and The LEGO Group.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>June 2016-August 2019</h4>
                                    <h4 class="subheading">BS Robotics/Mechatronics Engineering</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I entered the school curious about food automation, and graduated after completing a TEDx talk and two internships, one with United Technologies and another at a packaging machinery manufacturer.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>September 2019</h4>
                                    <h4 class="subheading">Northwestern University: MS Robotics</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Seeking a richer skillset in robotics, I advanced my education in Northwestern's intensive program. Besides mastering food automation, I crave skills needed to design robots for the work force—in ethical fashion.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>The
                                    <br>Future
                                    <br>Awaits</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
