<!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <a href="https://www.ted.com/talks/marcel_bonnici_marcel_bonnici_the_importance_of_telling_kids_no">
                        <img src="img/logos/tedx.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="https://time.com/4145105/chicken-mcnugget-lego-dispenser/">
                        <img src="img/logos/time.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="https://www.youtube.com/watch?v=bgRjy0hRC78">
                    <a href="#">
                        <img src="img/logos/insider.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="https://mashable.com/2016/09/09/lego-burger-king-vending-machine/">
                        <img src="img/logos/mashable.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
            </div>
        </div>
    </aside>
